.App {
  text-align: center;
}

.App-logo {
  animation: bounceIn 6s;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font: 150% fantasy;
  animation: bounceIn 5s;
  color: #EED241;
}
.App-sub-title {
  font-size: 20px;
  font-style: italic;
  text-align: left;
  color: #222;
}
.App-intro {
  font-size: large;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


